DevBuild/
DevBuildGrid/
Library/
Temp/
Library/assetDatabase3

Library/guidmapper

Library/InspectorExpandedItems.asset

Library/metadata/71/712122a9b79f845dbbbc9e2566ab033c

Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll

Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Temp/__BuildPlayer Backupscene
